body {
    margin: 25px;
}

html {
    background-color: #ffffff;
}


.slds-card__header.slds-grid {
    background-color: rgba(21,137,238,0.4);
    color: #2b2826
}

.sld-box {
    padding: 0;
}

.slds-page-header {
    background-color: #ffffff;
}

.slds-media__body {
    align-self: flex-end;
}

.slds-page-header__title {
    font-size: 5.125rem;
}

.slds-page-header__name-meta {
    font-size: 1.75rem;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card-container-sub {
    display: flex;
}

article.slds-box.slds-box_large.slds-text-align_center.slds-m-around_x-small {
    order: 1;
}

img {
    width: 100px;
    height: 100px;
}